{
  "printWidth": 80,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "printWidth": 120, "parser": "svelte" }
    }
  ]
}
